@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    cursor: crosshair;
}
/* .bg-img {
    background-image: url("{{ asset('/Web-Temp_bg.png') }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
/* .logo-img {
    height: 70px;
    border-radius: 10px;
}
.text-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-shadow: 2px;
    gap: 20px;
} */

/* .text-box h3 {
    font-size: 3rem;
    font-weight: bold;
}
.text-box p {
    font-size: 2rem;
    font-weight: lighter;
} */
/* @keyframes mouse-ani {
    0% {
        top: 0px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
.btn-arrow {
    position: relative;
    animation-name: mouse-ani;
    animation-duration: s;
    animation-iteration-count: infinite;
} */
