@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    cursor: crosshair;
}
@keyframes mouse-ani {
    0% {
        top: 0px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
.btn-arrow {
    position: relative;
    animation-name: mouse-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.temp-head {
    text-shadow: 5px 3px 2px purple;
}
